<!DOCTYPE html>
<html>

<head>
<title>House Price Predictor</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="container">

<h1>🏠 Boston House Price Predictor</h1>
<p class="subtitle">Machine Learning Powered Prediction</p>

<form action="/predict" method="post">

<input type="text" name="MedInc" placeholder="Median Income" required>

<input type="text" name="HouseAge" placeholder="House Age" required>

<input type="text" name="AveRooms" placeholder="Average Rooms" required>

<input type="text" name="AveBedrms" placeholder="Bedrooms" required>

<input type="text" name="Population" placeholder="Population" required>

<input type="text" name="AveOccup" placeholder="Occupancy" required>

<input type="text" name="Latitude" placeholder="Latitude" required>

<input type="text" name="Longitude" placeholder="Longitude" required>

<button type="submit">Predict Price</button>

</form>

<h2>{{ prediction_text }}</h2>

</div>

</body>
</html>